/* App background */
.stApp {
    background: linear-gradient(
        135deg,
        #d4b0d5 0%,
        #fcfefc 60%,
        #322080 100%
    );
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
}

/* Card */
.card {
    background-color: #683b61;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    margin-bottom: 25px;
}

/* Card text */
.card h1,
.card h2,
.card h3 {
    color: #ffffff;
}

.card p,
.card span,
.card div {
    color: #e5e7eb;
}

/* Metric box */
div[data-testid="metric-container"] {
    background-color: #f8fafc;
    border-radius: 14px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* Metric text */
div[data-testid="metric-container"] * {
    color: #111111 !important;
}

/* Prediction box */
.prediction-box {
    background: linear-gradient(
        135deg,
        #dcfce7,
        #bbf7d0
    );
    padding: 22px;
    border-radius: 14px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #065f46;
    margin-top: 15px;
}



/* Headers & subheaders */
h1, h2, h3 {
    color: #111111 !important;
}

/* Markdown text */
.stMarkdown,
.stMarkdown p,
.stMarkdown span,
.stMarkdown div {
    color: #111111 !important;
}

/* Metric labels & values */
[data-testid="stMetricLabel"] {
    color: #111111 !important;
}

[data-testid="stMetricValue"] {
    color: #111111 !important;
}

/* Slider text */
[data-testid="stSlider"] label,
[data-testid="stSlider"] span {
    color: #111111 !important;
}

/* DataFrame text */
[data-testid="stDataFrame"] * {
    color: #111111 !important;
}
